@font-face {
    font-family: 'Pacifico';
    src: url(../assets/font/Pacifico-Regular.ttf) format('truetype');
    /* Add additional formats if needed (e.g., woff, woff2) */
}



body{
    height: 100vh;
    background: linear-gradient(#e66465, #9198e5);    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    font-family: 'Pacifico', cursive;
}

.screen-lofi{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#screen{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.controller{
    position: sticky;
    border: solid 3px;
    height:70px;
    width:70px;
    border-radius: 40px;
    margin-left: 5px;
    margin-right: 5px;
}


.controller-v2{
    position: sticky;
    border: solid 1px;
    height: 30px;
    width:30px;
    border-radius: 20px;
    margin-left: -10px;
    margin-right: -10px;
}



img{
    height:100%;
    width:100%;
}


#background{
    border-radius: 10px;
    height:350px;
    width:350px;
    padding-bottom: 20px;
    border-radius: 10px;
}

#main-interface{
    background : brown;
    display: flex;
    flex-direction: column;
    border: solid;
    padding: 20px;
    border-radius: 8px;
    overflow-y: hidden;
   
    
}

.interface-controler{
    display: flex;
    justify-content: center;
    align-items: center;
}

#sound{
    height: 40px;
    width:40px;
  
}



.volume-bar {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }

.volume-bar p{
    margin-bottom: 5px;
  }
  input[type="range"] {
    width: 100px; /* Adjust the width as needed */
    margin-right: 10px; /* Adjust the margin as needed */
  }
  